h2{
    float: right;
    font-size: 100px;
    line-height: 120px;
    text-align: right;
    margin-right: 100px;
    background-image: url('bubblegif.gif');
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
  font-size: 15px;
  color:turquoise;
  margin-left: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
}
body{
    background-color: rgb(18, 18, 26);
    margin-left: 30px;
    line-height: 30px;
    color: lightblue;
    top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: url('bubblegif.gif'); */
    /* url('submarinWINDOW\ copy.png'),
    /* linear-gradient(to bottom, rgba(154, 218, 255, 0.438), rgba(123, 255, 237, 0.73)), */
    /* url('bubbles\ copy.jpg');
    background-size: cover; */
}
a:link {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  #confession {
    position: absolute;
    top: 350px;
    left: 300px;
    z-index: 2;
  }
  #commcon{
    position: absolute;
    top: 300px;
    left: 420px;
    z-index: 1;
  }
  #radio{
      position:absolute;
      top: 300px;
      left:100px;
  }