html {
    height: 100%;
}
.par {
    background-image: url('subalvin.jpg');
    
    height: 40%; 
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: -30px;
    margin-top: 100px;
}
.title {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 600px;
    margin-left: 100px;
}
h2{
    float: right;
    font-size: 100px;
    line-height: 120px;
    text-align: right;
    margin-right: 100px;
    background-image: url('bubblegif.gif');
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    font-size: 15px;
  color:rgb(46, 158, 147);
  margin-left: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
    font-size: 20px;
    line-height: 30px;
  margin-left: 10px;
}
h5{
    float: left;
    font-size: 80px;
    line-height: 100px;
    text-align: left;
    margin-right: 100px;
    background: -webkit-linear-gradient(rgb(21, 67, 119), rgb(198, 237, 255));
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#intro{
  float:right;
  margin-right: 100px;
  position: absolute;
  top: 200px;
  left: 1000px;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 90px;
}
body{
    background-color: rgb(18, 18, 26);
    margin-left: 30px;
    line-height: 30px;
    color: lightblue;
    top: 100px;
    background-size: cover;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  button {
    background-color: rgb(30, 130, 155);
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 30px 20px;
    cursor: pointer;
  }

  #article {
      margin-left: 200px;
      margin-right: 500px;
      margin-top: 500px;
  }
  #lastPar {
    margin-left: 200px;
    margin-right: 500px;
}

  #lead {
    color:rgb(87, 131, 182);
    line-height: 40px;
    position: absolute;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 280px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #author {
    color:rgb(87, 131, 182);
    line-height: 30px;
    position: absolute;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 400px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  video {
      margin:auto;
  }
  #pullQuote {
    color:rgb(87, 131, 182);
    margin-left: 300px;
    margin-right: 600px;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
  }