h1{
    font-size: 175px;
    float: right;
    margin-right: 80px;
    line-height: 200px;
    position: fixed;
    top: -70px;
    left: 70px;
    /* top: 1000px; */
    /* background: -webkit-linear-gradient(rgb(10, 80, 104), rgb(15, 41, 112)); */
    background-image: url('bubblegif.gif');
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
}
/* .rectangle {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 1000px;
  top: 0px;
  z-index: -1;
  background-color: rgb(28, 63, 71);
} */
h2{
    float: right;
    font-size: 100px;
    line-height: 120px;
    text-align: right;
    margin-right: 100px;
    background-image: url('bubblegif.gif');
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
  color:turquoise;
  margin-left: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  margin-left: 10px;
}
#intro{
  float:right;
  margin-right: 100px;
  position: absolute;
  top: 260px;
  left: 950px;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 90px;
}
body{
    background-color: rgb(18, 18, 26);
    margin-left: 30px;
    line-height: 30px;
    color: lightblue;
    top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: url('bubblegif.gif'); */
    /* url('submarinWINDOW\ copy.png'),
    /* linear-gradient(to bottom, rgba(154, 218, 255, 0.438), rgba(123, 255, 237, 0.73)), */
    /* url('bubbles\ copy.jpg');
    background-size: cover; */
}
a:link {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  #confession {
    margin:auto;
  }
  #map {
    position: absolute;
    left: 1066px;
    top: 270px;
  }
  button {
    background-color: rgb(30, 130, 155);
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 30px 20px;
    cursor: pointer;
  }