
h2{
    display: block;
    margin: auto;
text-align: center;
    font-size: 100px;
    line-height: 120px;
    background-image: url('bubblegif.gif');
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
  padding-top:100px;
  font-size: 30px;
  color:aliceblue;
  line-height: 0px;
  margin-left:50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  font-size: 20px;
  margin-left:50px;

  color:aliceblue;
}

p:not(.nav-txt, .navroom-txt) {
    max-width: 445px;
    color:aliceblue;
}

.nav-txt {
  color:aliceblue;
}

.p-container{
    padding-left:250px;
    padding-top:65px;
}
.nav-frame {
    display: block;
    text-align: right;
    margin: auto;
    padding: 20px; 
    width: 600px;
    height: 10px;  
    font-size: 30px;
    font-family: "rift", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#intro{
  float:right;
  margin-right: 100px;
  position: absolute;
  top: 200px;
  left: 1000px;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 90px;
}
body{
    background-color: rgb(18, 18, 26);
    margin-left: 50px;
    margin-top: 50px;
    line-height: 30px;
    color: lightblue;
    top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: url('bubblegif.gif'); */
    /* url('submarinWINDOW\ copy.png'),
    /* linear-gradient(to bottom, rgba(154, 218, 255, 0.438), rgba(123, 255, 237, 0.73)), */
    /* url('bubbles\ copy.jpg');
    background-size: cover; */
}
a:link {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:rgb(51, 214, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color:rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: none;
  }
  #confession {
    margin:auto;
  }
  #map {
    position:absolute;
    left: 650px;
    top: 200px;
  }
  button {
    background-color: rgb(30, 130, 155);
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 30px 20px;
    cursor: pointer;
  }
  #wheel {
      position:absolute;
      left:50px;
      top: 700px;
      z-index:1;
  }
  #console {
      position:absolute;
      left:200px;
      top:780px;
  }
  #console2 {
    position: absolute;
    left:830px;
    top:780px;
  }
  #console3 {
      position: absolute;
      left:200px;
      top:1150px;
}
#console4 {
  position: absolute;
  left:830px;
  top:1150px;
}
#console5 {
  position: absolute;
  left:2160px;
  top:1150px;
}
#console6 {
  position: absolute;
  left:2160px;
  top:780px;
}
#console7 {
  position: absolute;
  left:2790px;
  top:780px;
}
#console8 {
  position: absolute;
  left:2790px;
  top:1150px;
  padding-bottom:80px;
}
#window {
  position:absolute;
  left:1500px;
  top:850px;
  z-index: 4;
}
#bubbles {
  position: absolute;
  object-fit: cover;
  left:1630px;
  top:970px;
  z-index: 3;
}
#radio-con {
  position: absolute;
  left: 30px;
  top: 1000;
}
.bottom-nav{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:75px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  z-index:10;
  font-family: "rift", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: 30px;

}

.bottom-nav a{
  padding: 10px;
}

.navroom-txt {
  padding-top:110px;
  padding-left:220px;
  width:500px;
}

#controlButton, #navButton, #obsButton, #commButton{
  padding-left:20px;
  width:500px;
}

.button-container{
  padding-left:200px;
}

/* NAV OBJECTS */

#mapb{
  position:absolute;
top:200px;
left:800px;
}

#screenb{
  position:absolute;
top:200px;
left:1700px;
padding-right:50px;
}

#console2b{
  position:absolute;
top:750px;
left:1000px;
}
#console3b{
  position:absolute;
  top:750px;
  left:1550px;
}
#console4b{
  position:absolute;
  top:1070px;
  left:1000px;
}
#console5b{
  position:absolute;
  top:1070px;
  left:1550px;
}
#console6b{
  position:absolute;
  top:1070px;
  left:2100px;
  padding-right:50px;
  padding-bottom:80px;
}

#nav-blurb{
  width:500px;
  position: absolute;
  top:750px;
  left:2100px;
}



#comment {
  position:absolute;
  top:600px;
}

#clue {
  position: absolute;
  top: 1380px;
  padding-bottom:80px;
}
#cot1 {
  position: absolute;
  top: 250px;
  left: 800px;
}
#cot2 {
  position: absolute;
  top: 600px;
  left: 800px;
}
#cot3 {
  position: absolute;
  top: 950px;
  left: 800px;
}
#cot4 {
  position: absolute;
  top: 250px;
  left: 1450px;
}
#cot5 {
  position: absolute;
  top: 600px;
  left: 1450px;
}
#cot6 {
  position: absolute;
  top: 950px;
  left: 1450px;
  padding-right:100px;
}

#myCanvas{
  padding-top:40px;
}

.par-container {
  margin:auto;
}

#par1c{
margin-left:50px;
max-width: 900px;
}
#par2c{
  margin-left:250px;
  max-width: 900px;
}
#par3c{
  margin-left:450px;
  max-width: 900px;
  padding-bottom:80px;
}

.p-storage{
  margin:auto;
  padding-top:100px;
}

#confession {
  position: absolute;
  top: 250px;
  left: 300px;
  z-index: 2;
}
#commcon{
  position: absolute;
  top: 230px;
  left: 420px;
  z-index: 1;
}
#radio{
    position:absolute;
    top: 230px;
    left:100px;
}
#clue2 {
  position: absolute;
  top: 780px;
}

.p-comm{
  margin-left:100px;
}